{{>layout/header}}

		<form id="loginForm" name="loginForm" , method="post">
			<h1 class="h3 mb-3 fw-normal">Log in</h1>

			<div class="form-floating">
				<input name="username" type="email" class="form-control"
					placeholder="name@example.com">
			</div>
			<div class="form-floating">
				<input name="password" type="password" class="form-control"
					placeholder="비밀번호">
			</div>

			<input type="button" class="w-100 btn btn-lg btn-primary" value="로그인"
				id="loginformt_btn" onclick='loginPost();'>


		</form>

 <script >
 function loginPost() {
		var formdata = $("#loginForm").serializeArray();
		var object = {};

		for (var i = 0; i < formdata.length; i++) {
			object[formdata[i]['name']] = formdata[i]['value'];
		}
		var json = JSON.stringify(object);
		console.log(json);

		new Promise((succ, fail) => {
			$.ajax({
				cache: false,
				url: '/api/authenticate',
				type: 'POST',
				contentType: 'application/json',
				dataType: 'json',
				data: json,
				success: function(response) {
					localStorage.setItem('token', response['token']);
					succ(response);
					//location.href='/index/test';
				},
				fail: function(error) {
					fail(error);
					alert("로그인 실패");
				}

			});
		}).then((arg) => {
			var token = localStorage.getItem('token');

				$.ajax({
					url: '/api/user',
					type: 'GET',
					beforeSend: function(xhr) {
						xhr.setRequestHeader("Content-type", "application/json");
						xhr.setRequestHeader("Authorization", "Bearer " + token);
					},
					success: function(reponse) {
						alert("로그인에 성공하셨습니다");
						location.href = 'test';
					},
					error: function(error) {
						location.href = 'home';
					}
				});
			
		});
	}
 </script>



{{>layout/footer}}
